h2 {
  padding: 0.25rem 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.add_button {
  background-color: #fd5605;
  color: #fff;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 150px;
  min-height: 35px;
  border: 0px solid;
  border-radius: 35px;
  display: inline;
}

.remove_button {
  background-color: #fd5605;
  color: #fff;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 150px;
  min-height: 35px;
  border: 0px solid;
  border-radius: 35px;
  display: inline;
}
