.add_button {
  background-color: #468bae;
  color: #fff;
  margin: 1rem;
  font-size: 8rem;
  width: 10rem;
  height: 10rem;
  border: 0px solid;
  border-radius: 10%;
  display: inline;
}

.remove_button {
  background-color: #468bae;
  color: #fff;
  margin: 1rem;
  font-size: 8rem;
  width: 10rem;
  height: 10rem;
  border: 0px solid;
  border-radius: 10%;
  display: inline;
}
