.gallery_block {
    padding:10px;
}

.image_grid {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40vh;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.images {
    border-radius: 3px;
    width: auto;
    height:100%;
}

.images:hover {
    opacity:0.5;
}

.image_popup_box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #00000099;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.nav_arrow_back {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(318deg) brightness(110%) contrast(105%);
    transform: rotate(270deg);
    flex-shrink: 0;
}

.nav_arrow_forward {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(318deg) brightness(110%) contrast(105%);
    transform: rotate(90deg);
    flex-shrink: 0;
}

.image_popup {
    height: 80%;
    width: auto;
    border: 5px solid #FFF;
    background: #000;
    border-radius: 5px;
}