* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5e237;
  color: #000;
  padding: 25px;
  font-family: sans-serif;
}

.dice-form {
  display: flex;
}

.label {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008662;
  padding: 30px;
}

.type {
  grid-area: type-label;
  justify-self: end;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-dropdown {
  grid-area: type-dropdown;
  justify-self: start;
}

.number {
  grid-area: number-label;
  justify-self: end;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-number {
  grid-area: number-select;
  justify-self: start;
  max-width: 8rem;
  font-size: 0.9rem;
  text-indent: 0.35rem;
}

.roll-button {
  grid-area: roll-button;
  font-weight: bold;
  background-color: #f58337;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 350px;
  height: 90%;
  max-height: auto;
  border-radius: 35px;
  justify-self: center;
  transition: 35ms transform linear;
  font-size: 1.1rem;
}

.roll-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.roll-total {
  grid-area: total-display;
  justify-self: center;
}

.dice-roller-input {
  width: 30%;
  padding: 3%;
  border: 1px #fff solid;
  border-radius: 10px;
  margin-top: 3%;
  display: grid;
  align-items: center;
  gap: 5px 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas:
    "type-label type-dropdown"
    "number-label number-select"
    "roll-button roll-button"
    "total-display total-display";
}
